@import url("../css");
* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #3b3b3b;
}
a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}
a:hover {
    color: #c2c2c2;
    cursor: pointer;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
}
h1 {
    margin: 10px;
    letter-spacing: 1px;
}
.header-groups {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    background-color: rgba(107, 107, 107, 0.6);
    border-radius: 10px;
}
.header-item-group-left,
.header-item-group-right {
    display: flex;
}
.header-item-group-left {
    float: left;
    justify-content: start;
    align-items: center;
}
.header-item-group-right {
    float: right;
    justify-content: end;
    align-items: start;
}
.header-groups h1 {
    font-size: 2em;
    font-weight: 700;
}
.header-groups h3 {
    font-size: 1em;
}

#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: none;
}
#cookie-banner button {
    margin: 5px;
    background-color: #c2c2c2;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#cookie-banner button:hover {
    background-color: #a2a2a2;
}
#cookie-banner a {
    color: #0075ff;
    text-decoration: underline;
}

.main {
    width: 100%;
    background-image: url("../images/main_bunner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrap-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0 30px 0;
    background-color: rgba(107, 107, 107, 0.4);
}
.main .wrap-banner {
    height: 100%;
    justify-content: flex-start;
}
.main-text {
    margin-top: 5%;
}
.main-text h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    line-height: 1.5;
}
.main-text p {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
    margin: 20px;
}

.model {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px 0;
}
.model-text {
    display: none;
}
.model-image {
    width: 230px;
    height: 150px;
    margin-left: 50px;
    border-radius: 10px;
}

.advert {
    display: flex;
    align-items: center;
    background-image: url(../images/news-background.jpg);
    width: 100%;
    position: relative;
    padding: 30px;
}
.discount-banner {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #d00b0b;
    line-height: 1.5;
    border-radius: 10px;
}
.procent {
    color: #d00b0b;
    font-weight: 700;
}

.section-title {
    color: black;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.service {
    width: 100%;
    display: flex;
    padding: 50px 0 50px 0;
    justify-content: center;
    background-color: #fff;
}
.wrap-service {
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.wrap-service h3 {
    height: 20px;
}
.wrap-service-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1020px;
}
.word-wrap {
    word-wrap: break-word;
}
.service-item {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 80px 0 0 0;
    border-radius: 10px;
}
.service-item-name {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 7px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0);
}
.service-item a {
    color: #d00b0b;
    padding: 5px;
}
.showNote {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s;
    padding: 15px 5px;
}
.showNote strong {
    border-bottom: 2px solid #d00b0b;
    transition: 1s;
}
.service-note {
    padding: 10px 5px;
    visibility: hidden;
    position: relative;
    left: 200px;
    font-size: 11.5px;
    text-align: center;
    line-height: 1;
}
.service-item-name:hover {
    border-bottom: 2px solid #d00b0b;
}
.service-item_background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dvigatel {
    background-image: url(../images/dvigatel.jpg);
}
.zapchasti {
    background-image: url(../images/zapchasti.jpg);
}
.elek {
    background-image: url(../images/elek.jpg);
}
.kpp {
    background-image: url(../images/kpp.jpg);
}
.podveska {
    background-image: url(../images/podveska.jpg);
}
.kondicioner {
    background-image: url(../images/kondicioner.jpg);
}
.tormoza {
    background-image: url(../images/tormoza.jpg);
}
.rul {
    background-image: url(../images/rul.jpg);
}
.rashod {
    background-image: url(../images/rashod.jpg);
}
.razvod {
    background-image: url(../images/3d.jpg);
}

.oil {
    width: 100%;
    height: 400px;
    background-color: #ebebe0;
    background-image: url(../images/main_bunner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
.title_white {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.oil-items {
    display: flex;
    flex-direction: row;
}
.oil-items img {
    width: 200px;
    height: 150px;
    margin: 10px 20px;
    border-radius: 10px;
}
.oil-items figcaption {
    font-size: 14px;
    padding: 0 5px;
    text-align: center;
}

.appointment {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}
.appointment-wrap {
    position: relative;
    width: 70%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
}
.appointment-img {
    background-image: url(../images/news-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.appointment-text {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 20px;
}
.appointment-text h3 {
    margin: 20px;
}
.form {
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #fff;
}
.form__input {
    width: 100%;
    display: block;
    background: #fff;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding: 5px;
    color: #000;
    font-size: 16px;
}
.form__input::placeholder {
    color: #b3b3b3;
    font-size: 16px;
}
.submit__btn {
    margin: 20px;
    padding: 10px 20px;
    background-color: #d71730;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit__btn:disabled {
    background-color: #cb8790;
    color: #616161;
    cursor: not-allowed;
}
.form__label {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    cursor: pointer;
}
.form__checkbox {
    margin: 10px;
}
.form__text {
    font-size: 8px;
    margin: 10px;
}
.form__text a {
    font-size: 8px;
    color: #0075ff;
    text-decoration: underline;
}
.error {
    color: red;
    font-size: 12px;
}
#confirmation-banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    padding: 20px;
    background-color: #3b3b3b;
    color: #fff;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 2;
    display: none;
}
.confirmation-banner-text {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(107, 107, 107, 0.6);
    border-radius: 10px;
    line-height: 1.5;
}

.map {
    width: 100%;
    height: 315px;
}
.adres-block {
    position: relative;
    top: -220px;
    left: 55%;
    width: 225px;
    height: 140px;
    padding: 15px;
    background-color: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.adres-block p {
    font-size: 14px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.wrap-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #fff;
    font-size: 0.8em;
}
h3 {
    padding-bottom: 5px;
}
.contact-item-group {
    display: block;
    margin: 20px;
}
.contact-item-group-title {
    height: 20%;
    margin: 10px;
}
.contact-item-group-data {
    display: flex;
    flex-direction: row;
    height: 80%;
}
.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    margin: 15px;
}
.contact-item img {
    width: 90px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
}
.socialmedia {
    margin: 50px 20px 20px 20px;
}
.socialmedia * {
    display: block;
    width: 40px;
    height: 40px;
    margin: 20px;
}
.socialmedia a::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.socialmedia a:hover::before {
    opacity: 0;
}
.socialmedia a::after {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.socialmedia a:hover::after {
    opacity: 1;
}
.vk,
.whatsapp {
    position: relative;
    overflow: hidden;
}
.vk::before {
    background-image: url(../images/vk.jpg);
}
.vk::after {
    background-image: url(../images/vk_hover.jpg);
}
.whatsapp::before {
    background-image: url(../images/whatsapp.jpg);
}
.whatsapp::after {
    background-image: url(../images/whatsapp_hover.jpg);
}

/* Адаптивный дизайн xxx*/

@media (max-width: 1200px) {
    .advert .wrap-banner {
        width: 100%;
    }
}

@media (max-width: 1130px) {
    .contact-item {
        margin: 5px;
    }
    .contact-item-group-data .contact-item {
        margin: 15px;
    }
    .header-item-group-right {
        font-size: 0.8em;
    }
    .header-item-group-right .contact-item {
        margin: 5px;
    }
    .header-item-group-left .contact-item img {
        margin: 0;
    }

    .main-text {
        margin-top: 7%;
    }
    .main-text h1 {
        font-size: 2em;
        font-weight: 700;
    }
    .main-text p {
        font-size: 1.2em;
        line-height: 1.2;
    }
}

@media (max-width: 900px) {
    .header-groups h1 {
        font-size: 1.5em;
        font-weight: 700;
    }
    .header-groups h3 {
        font-size: 0.8em;
    }
    /* .header-groups p,
    a,
    a:hover {
        font-size: 0.7em;
    } */

    .header-item-group-left .contact-item img {
        width: 65px;
        height: 45px;
    }

    .wrap-contact .contact-item {
        margin: 5px 15px 5px 15px;
    }
    .contact-item-group-data {
        font-size: 0.8em;
    }
    .contact-item-group {
        margin: 5px;
    }
    .contact-item-group-data .contact-item {
        margin: 10px;
    }
    .socialmedia {
        margin: 40px 10px 20px 10px;
    }

    .main {
        min-height: 80%;
    }

    .discount-banner {
        font-size: 0.9em;
        width: 80%;
    }

    .service {
        padding: 20px;
    }
    .wrap-service h3 {
        padding: 65px 5px;
    }
    .wrap-service-item {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1020px;
    }

    .oil {
        height: auto;
    }
    .banner-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .oil-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    figcaption {
        width: 150px;
    }

    .appointment-wrap {
        width: 90%;
    }

    footer {
        height: auto;
    }
    .wrap-contact {
        height: auto;
    }
    .adres-block {
        top: -148px;
        left: 2%;
        width: 199px;
    }
}

@media (max-width: 730px) {
    .header-groups {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    h1 {
        padding: 5px 5px;
    }
    .header-groups h1 {
        font-size: 1.2em;
        font-weight: 700;
    }

    .header-item-group-left .contact-item img,
    .contact-item img {
        width: 50px;
        height: 35px;
    }

    .main-text h1 {
        font-size: 1.4em;
        font-weight: 700;
    }
    .main-text p {
        font-size: 1em;
    }

    .model-image {
        width: 115px;
        height: 75px;
        margin-left: 20px;
    }

    .discount-banner {
        width: 90%;
        font-size: 0.8em;
    }

    .section-title {
        font-size: 1.5em;
    }

    .title_white {
        font-size: 1.5em;
    }

    .appointment-text h3 {
        font-size: 16px;
    }
    .form__input {
        font-size: 12px;
    }
    .form__input::placeholder {
        font-size: 12px;
    }
    .submit__btn {
        font-size: 12px;
    }
    .xdsoft_datetimepicker,
    .xdsoft_noselect,
    .xdsoft {
        left: 20px !important;
    }

    .wrap-contact {
        align-items: center;
    }
    .contact-item {
        margin: 5px;
    }
    .contact-item-group {
        margin: 0px;
    }
    .contact-item-group-data {
        font-size: 0.65em;
    }
    .contact-item-group-data .contact-item {
        margin: 5px;
        max-width: 80px;
    }
    .socialmedia img {
        width: 20px;
        height: 20px;
    }
    .socialmedia {
        margin: 40px 10px 20px 5px;
    }
}
