@import url("../css");
* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3b3b3b;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    color: #fff;
    font-size: 0.8em;
}
header a:hover {
    color: rgb(164, 164, 164);
}
h1 {
    margin: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
}
.header-item-group-left,
.header-item-group-right {
    display: flex;
    align-items: center;
}
.header-item-group-left {
    float: left;
}
.header-item-group-right {
    float: right;
}

.main {
    width: 100%;
    min-height: 90vh;
    background-image: url("../images/main_bunner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.wrap-banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
    background-color: rgba(108, 107, 107, 0.3);
}
.main-text {
    margin-top: 5%;
}
.main-text h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    line-height: 1.5;
}
.main-text p {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
    margin: 20px;
}

.model {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px 0;
}
.model-text {
    display: none;
}
.model-image {
    width: 230px;
    height: 150px;
    margin-left: 50px;
}

.advert {
    display: flex;
    align-items: center;
    background-image: url(../images/news-background.jpg);
    width: 100%;
    position: relative;
    padding: 30px;
}
.discount-banner {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border: 2px solid red;
    line-height: 1.5;
}
.procent {
    color: #d00b0b;
    font-weight: 700;
}

.section-title {
    color: black;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.service {
    width: 100%;
    display: flex;
    padding: 50px 0 50px 0;
    justify-content: center;
    background-color: #fff;
}
.wrap-service {
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.wrap-service h3 {
    height: 20px;
}
.wrap-service-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1020px;
}
.word-wrap {
    word-wrap: break-word;
}
.service-item {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 80px 0 0 0;
}

.service-item-name {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 7px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0);
}

.showNote {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s;
    padding: 15px 5px;
}

.showNote strong {
    border-bottom: 2px solid red;
    transition: 1s;
}

.service-note {
    padding: 10px 5px;
    visibility: hidden;
    position: relative;
    left: 200px;
    font-size: 11.5px;
    text-align: center;
    line-height: 1;
}

.service-item-name:hover {
    border-bottom: 2px solid red;
}

.dvigatel {
    background-image: url(../images/dvigatel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.zapchasti {
    background-image: url(../images/zapchasti.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.elek {
    background-image: url(../images/elek.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kpp {
    background-image: url(../images/kpp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.podveska {
    background-image: url(../images/podveska.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kondicioner {
    background-image: url(../images/kondicioner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tormoza {
    background-image: url(../images/tormoza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rul {
    background-image: url(../images/rul.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rashod {
    background-image: url(../images/rashod.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.razvod {
    background-image: url(../images/3d.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.oil {
    width: 100%;
    height: 400px;
    background-color: #ebebe0;
    background-image: url(../images/main_bunner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.title_white {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.oil-items {
    display: flex;
    flex-direction: row;
}

.oil-items img {
    width: 200px;
    height: 150px;
    border-bottom: 2px solid red;
    margin: 0 20px;
}

.oil-items figcaption {
    font-size: 14px;
    padding: 0 5px;
    text-align: center;
}

.appointment {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}
.appointment-wrap {
    width: 95%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #ffffff;
}
.appointment-img {
    background-image: url(../images/appointment.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%;
}
.appointment-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 20px;
}
.appointment-text h3 {
    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.form__input {
    width: 100%;
    display: block;
    background: #fff;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 10px 10px;
    color: #000;
    font-size: 16px;
}
.form__input::placeholder {
    color: #b3b3b3;
    font-size: 16px;
}
.submit__btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #3b3b3b;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.map {
    width: 100%;
    height: 315px;
}
.adres-block {
    position: relative;
    top: -220px;
    left: 55%;
    width: 225px;
    height: 140px;
    padding: 15px;
    background-color: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.adres-block p {
    font-size: 14px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 20px 0;
}
footer a:hover {
    color: rgb(164, 164, 164);
}
.wrap-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #fff;
    font-size: 0.8em;
}
h3 {
    padding-bottom: 5px;
}
.contact-item-group {
    display: block;
    margin: 20px;
}
.contact-item-group-title {
    height: 20%;
    margin: 10px;
}
.contact-item-group-data {
    display: flex;
    flex-direction: row;
    height: 80%;
}
.contact-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px;
}
.contact-item a {
    color: #fff;
}
.contact-item img {
    width: 90px;
    height: 60px;
    margin: 5px;
}
.socialmedia {
    margin: 50px 20px 20px 20px;
}
.socialmedia img {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .advert .wrap-banner {
        width: 100%;
    }
}

@media (max-width: 1130px) {
    .contact-item {
        margin: 5px;
    }
    .contact-item-group-data .contact-item {
        margin: 15px;
    }
    .header-item-group-left {
        font-size: 0.9em;
    }
    .header-item-group-right {
        font-size: 0.8em;
        margin: 5px;
    }

    .main-text h1 {
        font-size: 2em;
    }
    .main-text p {
        font-size: 1.2em;
        line-height: 1.2;
    }
}

@media (max-width: 900px) {
    header {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        z-index: 2;
        position: relative;
        justify-content: center;
        padding: 2px;
    }

    .contact-item {
        margin: 5px 15px 5px 15px;
    }
    .contact-item-group-data {
        font-size: 0.8em;
    }
    .contact-item-group {
        margin: 5px;
    }
    .contact-item-group-data .contact-item {
        margin: 10px;
    }
    .socialmedia {
        margin: 40px 10px 20px 10px;
    }

    .main {
        min-height: 80vh;
    }

    .discount-banner {
        font-size: 0.9em;
        width: 80%;
    }
    /* /////// */

    .service {
        padding: 10px 5px;
    }
    .wrap-service h3 {
        padding: 65px 5px;
    }
    .wrap-service-item {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1020px;
    }
    .service-item-name {
        width: 100%;
    }
    .service-note {
        font-size: 20px;
    }
    .service-item-name {
        min-height: 100px;
    }
    .service-item-name strong {
        font-size: 20px;
    }
    .oil {
        height: auto;
    }
    .banner-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .oil-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    figcaption {
        width: 150px;
    }
    footer {
        height: auto;
    }
    .wrap-contact {
        height: auto;
    }
    .contact-phone {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact-phone div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 10px;
    }
    body {
        overflow-x: hidden;
    }
    .adres-block {
        top: -148px;
        left: 2%;
        width: 199px;
    }

    .header-top-phone {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .contact-item img {
        width: 50px;
        height: 35px;
    }
    h1 {
        padding: 5px 5px;
    }
    .header-item-group-left {
        font-size: 0.7em;
    }
    .header-item-group-right {
        font-size: 0.65em;
    }

    .main-text h1 {
        font-size: 1.4em;
    }
    .main-text p {
        font-size: 1em;
    }

    .model-image {
        width: 115px;
        height: 75px;
        margin-left: 20px;
    }

    .discount-banner {
        width: 90%;
        font-size: 0.8em;
    }

    .section-title {
        font-size: 1.4em;
    }
    /* /////// */

    .appointment-text h3 {
        font-size: 16px;
    }
    .form__input {
        font-size: 12px;
    }
    .form__input::placeholder {
        font-size: 12px;
    }
    .submit__btn {
        font-size: 12px;
    }

    .wrap-contact {
        align-items: center;
    }
    .contact-item {
        margin: 5px;
    }
    .contact-item-group {
        margin: 0px;
    }
    .contact-item-group-data {
        font-size: 0.65em;
    }
    .contact-item-group-data .contact-item {
        margin: 5px;
        max-width: 80px;
    }
    .socialmedia img {
        width: 13px;
        height: 13px;
    }
    .socialmedia {
        margin: 40px 10px 20px 5px;
    }
}
