@import url("../css");
* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #3b3b3b;
    color: #fff;
    font-size: 0.8em;
}

header a:hover {
    color: rgb(164, 164, 164);
}

h1 {
    padding: 5px 10px;
    font-size: 2.5em;
    letter-spacing: 1px;
}

.header-item-group-left,
.header-item-group-right {
    display: flex;
    align-items: center;
}
.header-item-group-left {
    float: right;
}

.header-item-group-left {
    float: right;
}

.main-foto {
    width: 100%;
    min-height: 600px;
    background-image: url("../images/main_bunner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

.main-text h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5;
}

.main-text p {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
}

.model {
    width: auto;
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.model-text {
    display: none;
}

.model-image {
    margin-left: 50px;
}

.news {
    display: block;
    height: 120px;
    background-image: url(../image/news-background.jpg);
}

.news .wrap-banner {
    margin: 0 auto;
    width: 700px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.news-banner {
    display: block;
    height: 100px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid red;
}

.news-banner p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.news-banner .disclaimer {
    display: block;
    text-align: center;
}

.news-banner-link,
.procent {
    color: #d00b0b;
    font-weight: 700;
}

.news-banner-link:hover {
    color: #da9393;
}

.news-banner-phone {
    color: #d00b0b;
    text-decoration: underline;
}

.section-title {
    color: black;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.service {
    width: 100%;
    min-height: 450px;
    display: flex;
    margin: 70px 0 70px 0;
    justify-content: center;
}

.wrap-service {
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.wrap-service h3 {
    height: 20px;
}

.wrap-service-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1020px;
}

.wrap-service-item-mobile {
    display: none;
}

.word-wrap {
    word-wrap: break-word;
}

.banner-contact {
    text-align: center;
}

.service-item {
    width: 194px;
    height: 194px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 80px 0 0 0;
}

.service-item a {
    color: #d00b0b;
    margin-top: 5px;
}

.service-item-name {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 7px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0);
}

.showNote {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s;
    padding: 15px 5px;
}

.showNote strong {
    border-bottom: 2px solid red;
    transition: 1s;
}

.service-note {
    padding: 10px 5px;
    visibility: hidden;
    position: relative;
    left: 200px;
    font-size: 11.5px;
    text-align: center;
    line-height: 1;
}

.service-item-name:hover {
    border-bottom: 2px solid red;
}

.dvigatel {
    background-image: url(../image/dvigatel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.zapchasti {
    background-image: url(../image/zapchasti.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.elek {
    background-image: url(../image/elek.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kpp {
    background-image: url(../image/kpp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.podveska {
    background-image: url(../image/podveska.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kondicioner {
    background-image: url(../image/kondicioner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tormoza {
    background-image: url(../image/tormoza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rul {
    background-image: url(../image/rul.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rashod {
    background-image: url(../image/rashod.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.razvod {
    background-image: url(../image/3d.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.oil {
    width: 100%;
    height: 400px;
    background-color: #ebebe0;
    background-image: url(../images/main_bunner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.oil-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
    background-color: rgba(108, 107, 107, 0.3);
}

.title_white {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.oil-items {
    display: flex;
    flex-direction: row;
}

.oil-items img {
    width: 200px;
    height: 150px;
    border-bottom: 2px solid red;
    margin: 0 20px;
}

.oil-items figcaption {
    font-size: 14px;
    padding: 0 5px;
    text-align: center;
}

.news-shiny {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b3b3b;
    padding: 50px 0 50px 0;
}

.news-cont-shin {
    display: flex;
    flex-direction: row;
    width: 758px;
    height: 250px;
    background-color: #ffffff;
}

.map-section {
    width: 100%;
    height: 315px;
}

.adres-block {
    position: relative;
    top: -220px;
    left: 55%;
    width: 225px;
    height: 140px;
    padding: 15px;
    background-color: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.adres-block p {
    font-size: 14px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: #3b3b3b;
    padding: 20px 0;
}

footer a:hover {
    color: rgb(164, 164, 164);
}

.wrap-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #fff;
    font-size: 0.8em;
}

h3 {
    padding-bottom: 5px;
}

.contact-item-group {
    display: block;
    margin: 20px;
}
.contact-item-group-title {
    height: 20%;
    margin-left: 20px;
    margin-top: 10px;
}
.contact-item-group-data {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.contact-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px;
}

.contact-item a {
    color: #fff;
}
.contact-item img {
    width: 90px;
    height: 60px;
    margin-bottom: 5px;
}

.socialmedia {
    margin: 40px 20px 20px 20px;
}
.socialmedia img {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .news .wrap-banner {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    header {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        background-color: #d00b0b;
        z-index: 2;
        position: relative;
        justify-content: center;
        padding: 2px;
    }

    .logo {
        flex-direction: column;
    }

    .main-foto {
        display: none;
    }
    .service {
        padding: 10px 5px;
    }
    .wrap-service h3 {
        padding: 65px 5px;
    }
    .wrap-service-item {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1020px;
    }
    .service-item {
        width: 300px;
        height: 300px;
    }
    .service-item-name {
        width: 100%;
    }
    header li {
        font-size: 18px;
    }
    .service-note {
        font-size: 20px;
    }
    .service-item-name {
        min-height: 100px;
    }
    .service-item-name strong {
        font-size: 20px;
    }
    .oil {
        height: auto;
    }
    .oil-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .oil-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    figcaption {
        width: 150px;
    }
    footer {
        height: auto;
    }
    .wrap-contact {
        height: auto;
    }
    .contact-phone {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact-phone div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 10px;
    }
    body {
        overflow-x: hidden;
    }
    .adres-block {
        top: -148px;
        left: 2%;
        width: 199px;
    }

    .news {
        height: 250px;
    }

    .news .wrap-banner {
        width: auto;
    }

    .news-banner {
        height: 210px;
        text-align: center;
    }

    .news-banner-phone {
        display: block;
    }
}

/* .news-shiny {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;
} */

.news-wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .news-cont-shin {
    display: flex;
    flex-direction: row;
    width: 758px;
    height: 250px;
} */

.news-cont-shin-img {
    background-image: url(../images/appointment.jpg);
    background-repeat: no-repeat;
    width: 35%;
    height: 300px;
}

.news-cont-shin-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 20px;
    border: 2px dashed;
    border-left: none;
}

.news-cont-shin-text h3 {
    margin-bottom: 20px;
}

.shin-accent {
    color: #d00b0b;
}

.shin-phone {
    color: #d00b0b;
    cursor: pointer;
    display: block;
    font-weight: 700;
}

@media (min-width: 320px) and (max-width: 767px) {
    .header-top-phone {
        flex-direction: column;
    }

    .news-cont-shin-text {
        width: 100%;
    }

    .news-cont-shin {
        width: 100%;
    }

    .news-cont-shin-img {
        display: none;
    }

    .news-cont-shin-text {
        width: 100%;
    }

    .news-cont-shin-text {
        width: 100%;
    }

    .news-cont-shin {
        width: 100%;
    }

    .news-cont-shin-img {
        display: none;
    }

    .news-cont-shin-text {
        border-left: 2px dashed;
    }

    .shin-phone {
        text-align: center;
    }
}
